.Modal {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: visible;
  position: fixed;
  z-index: 300;
  color: #171717;

  &__close {
  }

  &__content {
    width: 30%;
    height: 30%;
    background: orange;
    left: 50%;
    z-index: 5;
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translate(-50%);
    display: block;
  }
}
