.ImageBunch {
    width: 100%;
    display: flex;
}

.ImageBunch__image {
    border-radius: 50%;
    overflow: hidden;
}

/*.ImageBunch__image:nth-child(even) {*/
/*    transform: translate(-10%);*/
/*}*/

.ImageBunch__image:first-child {
    border: 2px solid red;
}

.ImageBunch__image + .ImageBunch__image {
    margin-left: -15px;
    /*transform: translate(-10%);*/
}